@charset "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

* {
    margin:0;
    padding:0;
    font:12pt Arial;
}


.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:20%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgba(247, 203, 146, 0.747),
   2px 2px 0 rgba(247, 203, 146, 0.747),
   3px 3px 0 rgba(247, 203, 146, 0.747),
   4px 4px 0 rgba(247, 203, 146, 0.747),
   5px 5px 0 rgba(247, 203, 146, 0.747),
   6px 6px 0 rgba(247, 203, 146, 0.747),
   7px 7px 0 rgba(247, 203, 146, 0.747),

  ;
  position: relative;
  right: 35%;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgba(247, 203, 146, 0.747);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgba(247, 203, 146, 0.747);
  color:white;
  border:none;
}
#barra ul li{
    list-style:none;
    display:block;
    float:left;
    
    position: relative;
    position: relative;
    left:10%;
    top: 30px;
    z-index: 200;
  
   text-decoration: none;

}
#barra a {
    color: rgb(0, 0, 0);
   text-decoration: none;
   margin: 50px;
}
#barra{
    background-color: rgba(247, 203, 146, 0.747);
    position: relative;
    top: -19 px;
    width: 1360px;
    height: 60px;
  
}
#cuadro{
    height: 400px;
    width: 600px;
    background-color: rgba(247, 203, 146, 0.747);
    position: relative;
    left: 50%;
    top:-100px;
}
#cuadroadentro{
    height: 250px;
    width: 450px;
    background-color: white;
    position: relative;
    left: 10%;
    top: 40px;
    
}
#primero{
    background-color: gray;
    color: white;
    position: relative;
    top:300px;
    font-size: 20px;
    height: 40px;
    width: 170px;
    left: 60px;

}
#segundo{
    color: rgb(10, 10, 10);
    position: relative;
    top:300px;
    font-size: 20px;
    height: 40px;
    width: 170px;
    left: 60px;
}
::-webkit-scrollbar {
    display: none;
}
h1{
    position: relative;
    top:-150px;
    left:65%;
}